<div class="card border-0 shadow-lg">
  <div class="card-header">
    <h3 class="mt-2"><%= @recipe_list.name %></h3>
  </div>
  <div class="card-body">
    Essa lista ainda não possui receitas!
  </div>
</div>
